.authentication__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: white;
  text-align: center;
}

@media (max-width: 676px) {

  .authentication__title {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
  }
}
